.home-body {
    height: auto;
    min-width: 100%;
    margin-top: 5rem;
    padding: 10rem;
    background-color: var(--bg_color);
}

/* Search Bar */
.Search-bar {
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    top: 5rem;
    left: 22.5rem;
    right: 22.5rem;
    width: 60%;
    min-width: 31.25rem;
    overflow-x: hidden;
    z-index: 9;
}

/* Vote Section */
.vote {
    width: 12.5rem;
    min-width: 18.75rem;
    height: auto;
    min-height: 31.25rem;
    background-color: #fbf8f8;
    border-radius: 0.3125rem;
    border: 0.0625rem solid black;
    padding: 0.625rem;
    z-index: 1;
}

/* Search Results */
.search-results {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    padding-left: 0.625rem;
    width: 100%;
    min-width: 31.25rem;
    height: 18.75rem;
    overflow: hidden;
    cursor: pointer;
}

.filteredContent {
    background-color: white;
    border: 0.0625rem solid #ccc;
    border-radius: 0.3125rem;
    z-index: 2;
    position: relative;
}

.search-results:hover {
    background-color: black;
    color: white;
}