.body{
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Email{
    flex: 1;
    display: flex;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.Email-textbox{
    flex: 1;
    font-size: 12px;
    padding: 15px;
    border-color: black;
    border-radius: 10px;
    outline: none;
    box-shadow: none;
}

.Login{
    position: relative;
    height: auto;
    width: 300px; /* Adjust the width of the login form */
    text-align: center;
    border: 1px solid #ccc; /* Optional: Add border for visualization */
    padding: 50px;
    border-radius: 20px;
    border-color: black;
    border-width: 2px;
}

.Signup{
    height: auto;
    width: 300px; /* Adjust the width of the login form */
    text-align: center;
    border: 1px solid #ccc; /* Optional: Add border for visualization */
    padding: 50px;
    border-radius: 20px;
    border-color: black;
    border-width: 2px;
}

.firstLine{
    margin-bottom: 30px;
}

.Username-textbox{
    flex: 1;
    font-size: 12px;
    padding: 15px;
    border-color: black;
    border-radius: 10px;
    outline: none;
    box-shadow: none;
}
.Username{
    flex: 1;
    display: flex;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.Password-textbox{
    flex: 1;
    font-size: 12px;
    padding: 15px;
    border-color: black;
    border-radius: 10px;
    outline: none;
    box-shadow: none;
}

.Password{
    flex: 1;
    display: flex;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.login{
    flex: 1;
    display: flex;
    margin: 20px;
    justify-content: center;
    align-items: center;
}

.Login-button{
    flex: 1;
    font-size: 15px;
    padding: 5px;
    background-color: white;
    color: black;
    border-color: black;
    border-radius: 10px;
}

.Login-button:hover{
    background-color: black;
    color: white;
}

.signup{
    flex: 1;
    display: flex;
    margin: 20px;
    justify-content: center;
    align-items: center;
}

.Signup-button{
    flex: 1;
    font-size: 15px;
    padding: 5px;
    background-color: white;
    color: black;
    border-color: black;
    border-radius: 10px;
}

.Signup-button:hover{
    background-color: black;
    color: white;
}

.secondLine{
    display: inline;
}

