.Search {
    display: flex;
    align-items: center;
    margin: 1.25rem 0;
    border: 0.0625rem solid #ccc;
    border-radius: 0.625rem;
    padding: 0.3125rem;
    background-color: white;
}

/* Search Input */
.Search-input {
    padding: 0.625rem;
    font-size: 1rem;
    border: none;
    margin-right: 0.625rem;
    flex-grow: 1;
    outline: none;
}

/* Search Button */
.Search-button {
    padding: 0.625rem 1.25rem;
    font-size: 1rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 0.625rem;
    cursor: pointer;
}

.Search-button:hover {
    background-color: rgb(54, 54, 54);
    color: white;
}