
.Search {
    display: flex;
    align-items: center;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 5px;
    background-color: white;
}

.Search-input {
    padding: 10px;
    font-size: 16px;
    border: none;
    margin-right: 10px;
    flex-grow: 1;
    outline: none;
}

.Search-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.Search-button:hover {
    background-color: bisque;
    color: black;
}