ul li a.auth-nav.active {
    background-color: white;
    color: black;
}

.def-nav-link.active{
    border: 1px solid black;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: bisque;
}

nav .logo {
    font-size: 1.5rem;
    margin: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

ul {
    display: flex;
}

.def-nav-container {
    display: flex;
}

ul li {
    list-style: none;
}

.def-nav {
    list-style: none;
    margin-right: 10px;
    margin-left: 10px;
}

ul li a.auth-nav {
    display: block;
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
    background-color: black;
}

ul li a.auth-nav:not(.active):hover{
    background-color: white;
    color: black;
}


/* Animated link styling */
.def-nav-link {
    display: block;
    text-decoration: none;
    color: #000;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    transition: color 0.3s ease;
    padding: 0.5rem;
    margin: 0 0.5rem;
}
.def-nav-link:hover {
    color: black;
}

.def-nav-link::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: black;
    transform: translateX(-50%);
    transition: width 0.3s ease;
}

.def-nav-link:hover::after {
    width: 100%;
}
