ul li {
    list-style: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: bisque;
}

nav .logo {
    font-size: 1.5rem;
    margin: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.unAuthorizedTools, .def-nav-container {
    display: flex;
}

.def-nav {
    list-style: none;
    margin-right: 10px;
    margin-left: 10px;
}


ul li a.auth-nav {
    display: block;
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
    background-color: black;
    transition: background-color 0.3s, color 0.3s;
}

ul li a.auth-nav.active {
    background-color: white;
    color: black;
}

ul li a.auth-nav:not(.active):hover {
    background-color: white;
    color: black;
}

/* Def Nav Link Styling */
.def-nav-link {
    display: block;
    text-decoration: none;
    color: #000;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    padding: 0.5rem;
    margin: 0 0.5rem;
    transition: color 0.3s ease;
}

.def-nav-link.active {
    border: 1px solid black;
}

.def-nav-link:hover {
    color: black;
}

.def-nav-link::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: black;
    transform: translateX(-50%);
    transition: width 0.3s ease;
}

.def-nav-link:hover::after {
    width: 100%;
}

.profile {
    padding: 10px;
    cursor: pointer;
}

.user {
    width: 60px; 
    height: 60px; 
    border: 1px solid black; 
    border-radius: 50%;
    background-color: white; 
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userToolBody {
    width: 200px;
    height: auto;
    position: absolute;
    margin-top: 10px;
    margin-right: 10px;
    right: 0;
    background-color: white; 
    border: 1px solid black;
    border-radius: 8px;
    z-index: 10; 
}

.userTools {
    padding-top: 10px; 
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

.view-profile {
    padding: 0;
    margin-left: 10px;
    font-size: 13px;
    font-weight: bold;
    border: none;
}

.profile-username {
    padding: 0;
    margin-left: 10px;
    font-size: 10px;
    font-weight: bold;
    border: none;
}

.userTools a {
    text-decoration: none;
    color: inherit; 
}

.userTools:hover {
    color: #ccc;
}

.userTools a:visited {
    color: black;
}

.userBar {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

.user-profile-detail-body{
    padding: 10px;
}

.user-profile-detail{
    border: 1px solid black; 
    border-radius: 50%;
    background-color: white;
    width: 40px; 
    height: 40px;
    z-index: 3px;
}

.user-profile-detail-body hr {
    margin-right: 5px;
    margin-left: 5px;
}

.inner-profile{
    display: flex;
    border-radius: 10px;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.inner-profile:hover{
    background-color: #f3f2f2;
}

.inner-profile div p {
    margin: 3px 0 0 10px;
    padding: 0;
}