.auth-body {
    height: auto;
    min-height: 60rem;
    min-width: 100%;
    display: flex;
    padding: 1.25rem;
    background-color: #f5f5dc;
    box-sizing: border-box;
    position: relative;
}

/* The login form */
.Login, .Signup {
    position: fixed;
    top: 12.5rem;
    left: 40.625rem;
    width: 18.75rem;
    text-align: center;
    border: 0.0625rem solid #ccc;
    padding: 3.125rem;
    border-radius: 1.25rem;
    border-color: black;
    border-width: 0.125rem;
    background-color: white;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
    margin: 1.25rem;
}

.Email {
    flex: 1;
    display: flex;
    width: 100%;
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
}

.Email-textbox {
    flex: 1;
    font-size: 0.75rem;
    padding: 0.9375rem;
    border-color: black;
    border-radius: 0.625rem;
    outline: none;
    box-shadow: none;
}

.firstLine {
    margin-bottom: 1.875rem;
}

.Username-textbox {
    flex: 1;
    font-size: 0.75rem;
    padding: 0.9375rem;
    border-color: black;
    border-radius: 0.625rem;
    outline: none;
    box-shadow: none;
}

.Username {
    flex: 1;
    display: flex;
    width: 100%;
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
}

.Password-textbox {
    flex: 1;
    font-size: 0.75rem;
    padding: 0.9375rem;
    border-color: black;
    border-radius: 0.625rem;
    outline: none;
    box-shadow: none;
}

.Password {
    flex: 1;
    display: flex;
    width: 100%;
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
}

.login {
    flex: 1;
    display: flex;
    margin: 1.25rem;
    justify-content: center;
    align-items: center;
}

.Login-button {
    flex: 1;
    font-size: 0.9375rem;
    padding: 0.3125rem;
    background-color: white;
    color: black;
    border-color: black;
    border-radius: 0.625rem;
}

.Login-button:hover {
    background-color: black;
    color: white;
}

.signup {
    flex: 1;
    display: flex;
    margin: 1.25rem;
    justify-content: center;
    align-items: center;
}

.Signup-button {
    flex: 1;
    font-size: 0.9375rem;
    padding: 0.3125rem;
    background-color: white;
    color: black;
    border-color: black;
    border-radius: 0.625rem;
}

.Signup-button:hover {
    background-color: black;
    color: white;
}

.secondLine {
    display: inline;
}