.top-bar {
    min-width: 100%;
}

ul li {
    list-style: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--topbar_color);
}

nav .logo {
    font-size: 1.5rem;
    margin: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.unAuthorizedTools, .def-nav-container {
    display: flex;
}

.def-nav {
    list-style: none;
    margin-right: 0.625rem;
    margin-left: 0.625rem;
}

ul li a.auth-nav {
    display: block;
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
    background-color: black;
    transition: background-color 0.3s, color 0.3s;
}

ul li a.auth-nav.active {
    background-color: white;
    color: black;
}

ul li a.auth-nav:not(.active):hover {
    background-color: white;
    color: black;
}

.def-nav-link {
    display: block;
    text-decoration: none;
    color: #000;
    font-size: 0.9375rem;
    font-weight: bold;
    position: relative;
    padding: 0.5rem;
    margin: 0 0.5rem;
    transition: color 0.3s ease;
}

.def-nav-link.active {
    border: 1px solid black;
}

.def-nav-link:hover {
    color: black;
}

.def-nav-link::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -0.125rem;
    width: 0;
    height: 0.125rem;
    background-color: black;
    transform: translateX(-50%);
    transition: width 0.3s ease;
}

.def-nav-link:hover::after {
    width: 100%;
}

.profile {
    padding: 0.625rem;
}

.user {
    width: 3.75rem;
    height: 3.75rem;
    border: 1px solid black;
    border-radius: 50%;
    background-color: white;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.userToolBody {
    width: 12.5rem;
    height: auto;
    position: absolute;
    margin-top: 0.625rem;
    margin-right: 0.625rem;
    right: 0;
    background-color: white;
    border: 1px solid black;
    border-radius: 0.5rem;
    z-index: 10;
}

.userTools {
    padding-top: 0.625rem; 
    padding-bottom: 0.625rem;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

.view-profile {
    padding: 0;
    margin-left: 0.625rem;
    font-size: 0.8125rem;
    font-weight: bold;
    border: none;
}

.profile-username {
    padding: 0;
    margin-left: 0.625rem;
    font-size: 0.625rem;
    font-weight: bold;
    border: none;
}

.userTools a {
    text-decoration: none;
    color: inherit;
}

.userTools {
    display: inline-block;
    margin-right: 1.25rem;
    cursor: pointer;
}

.userTools:hover {
    color: #ccc;
}

.userBarLinks {
    text-decoration: none;
    color: inherit;
}

.userBarLinks:hover {
    color: #ccc;
}

.userBar {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.user-profile-detail-body {
    padding: 0.625rem;
}

.user-profile-detail {
    border: 1px solid black;
    border-radius: 50%;
    background-color: white;
    width: 2.5rem; 
    height: 2.5rem;
}

.user-profile-detail-body hr {
    margin-right: 0.3125rem;
    margin-left: 0.3125rem; 
}

.inner-profile {
    display: flex;
    border-radius: 0.625rem; 
    align-items: center;
    padding: 0.625rem;
    cursor: pointer;
}

.inner-profile:hover {
    background-color: #f3f2f2;
}

.inner-profile div p {
    margin: 0.1875rem 0 0 0.625rem;
    padding: 0;
}